<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
    <div class="hero-unit"><h1><%= h1 %></h1>
    <p>Welcome! Add your todo to the list, or check them off!</p></div>
    <div class="row">
    	<div class="list offset2 span4">
    	<table class="table table-striped">
    	<thead><tr><th>ToDos</th></tr></thead>
    		<tr><td>This is a To Do item.</td></tr>
    	</table>
    	</div>
	</div>
  </body>
</html>