<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='<%= localPath %>/stylesheets/bootstrap.css' />
  </head>
  <body>
    <div class="hero-unit"><h1><%= h1 %></h1>
    <p>Welkom op de vakantie todolijst van de Snuutjes!<br>Voeg een todo toe, markeer als compleet of verwijder ze hier.</p></div>
    <div class="row">
    	<div class="list offset2 span4">
    	<table class="table table-striped">
    	<thead><tr><th>Wat moeten we nog doen ...</th></tr></thead>
    		<tr><td>Dit is is een todo item.</td></tr>
    	</table>
    	</div>
	</div>
  </body>
</html>